<div ng-controller="ItineraryController">
  <!-- Carousel Section -->
  <section>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../assets/images/bandung/camping.jpg"
            class="d-block w-100"
            alt="Slide 1"
          />
          <div
            class="carousel-caption bg-dark text-white p-2 p-md-3 rounded shadow-lg"
            style="opacity: 0.8"
          >
            <div class="container">
              <h3>Bandung, camping</h3>
              <p>
                Menghabiskan waktu di tengah hutan bersama dengan orang yang
                berarti
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/images/yogyakarta/ngebatik.jpg"
            class="d-block w-100"
            alt="Slide 2"
          />
          <div
            class="carousel-caption bg-dark text-white p-2 p-md-3 rounded shadow-lg"
            style="opacity: 0.8"
          >
            <h3>Yogyakarta, Membuat batik</h3>
            <p>
              Belajar melestarikan budaya, membuat batik dengan tangan yang
              dipanu bersama para ahlinya
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/images/jakarta/wahana.jpg"
            class="d-block w-100"
            alt="Slide 3"
          />
          <div
            class="carousel-caption bg-dark text-white p-2 p-md-3 rounded shadow-lg"
            style="opacity: 0.8"
          >
            <h3>Jakarta, Wahana seru</h3>
            <p>
              Nikmati masa mudamu, bersama teman keluarga bermain wahana seru
              dan menantang
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/images/rajaAmpat/snorkling.jpg"
            class="d-block w-100"
            alt="Slide 4"
          />
          <div
            class="carousel-caption bg-dark text-white p-2 p-md-3 rounded shadow-lg"
            style="opacity: 0.8"
          >
            <h3>Raja Ampat, Telusuri lautan</h3>
            <p>
              Telusuri keindahan laut yang luas di indonesia, kunjungi rumah
              ikan dan pelasari ekosistem lautan.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/images/bali/kecak.jpg"
            class="d-block w-100"
            alt="Slide 5"
          />
          <div
            class="carousel-caption bg-dark text-white p-2 p-md-3 rounded shadow-lg"
            style="opacity: 0.8"
          >
            <h3>Bali, Pertunjukan kecak</h3>
            <p>
              Nimati pertunjukan kecak tarian khas Bali yang merupakan perpaduan
              antara drama dan tari
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="container" style="padding-top: 100px">
    <h1 class="judul" style="padding-bottom: 30px">
      Recomendation Itineraries
    </h1>

    <!-- Filter Button for Locations -->
    <div class="d-flex flex-wrap mb-4">
      <button
        class="btn mr-3 mb-2"
        ng-class="{'btn-primary': selectedLocation === '', 'btn-outline-primary': selectedLocation !== ''}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('')"
      >
        All
      </button>
      <button
        class="btn mr-3 mb-2"
        ng-class="{'btn-primary': selectedLocation === 'Bali', 'btn-outline-primary': selectedLocation !== 'Bali'}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('Bali')"
      >
        Bali
      </button>
      <button
        class="btn mr-3 mb-2"
        ng-class="{'btn-primary': selectedLocation === 'Bandung', 'btn-outline-primary': selectedLocation !== 'Bandung'}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('Bandung')"
      >
        Bandung
      </button>
      <button
        class="btn mr-5 mb-2"
        ng-class="{'btn-primary': selectedLocation === 'Raja Ampat', 'btn-outline-primary': selectedLocation !== 'Raja Ampat'}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('Raja Ampat')"
      >
        Raja Ampat
      </button>
      <button
        class="btn mr-3 mb-2"
        ng-class="{'btn-primary': selectedLocation === 'Yogyakarta', 'btn-outline-primary': selectedLocation !== 'Yogyakarta'}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('Yogyakarta')"
      >
        Yogyakarta
      </button>
      <button
        class="btn mr-3 mb-2"
        ng-class="{'btn-primary': selectedLocation === 'Jakarta', 'btn-outline-primary': selectedLocation !== 'Jakarta'}"
        style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
        ng-click="filterByLocation('Jakarta')"
      >
        Jakarta
      </button>
    </div>

    <!-- Tampilkan teks jika data kosong -->
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 60vh"
      ng-if="filteredItineraries.length === 0"
    >
      <h4>Data not found!</h4>
    </div>

    <!-- Cards Destination -->
    <div style="margin: 50px 0">
      <div
        class="text-left w-100"
        ng-repeat="itinerary in filteredItineraries = (itineraries | filter:{location: selectedLocation})"
        style="
          width: 30%;
          margin-bottom: 40px;
          border: 1px solid black;
          padding: 30px;
          border-radius: 30px;
        "
      >
        <div class="d-flex justify-content-between align-items-center pt-2">
          <h3>{{itinerary.title}}</h3>

          <!-- Button Favorite -->
          <a
            class="btn btn-outline-danger border-0"
            style="border-radius: 100%; padding: 15px 18px"
            ng-click="toggleFavorite(itinerary)"
          >
            <i
              class="fa-regular fa-heart fa-lg"
              ng-class="{'fa-solid': itinerary.isFavorite, 'fa-regular': !itinerary.isFavorite}"
            ></i>
          </a>
        </div>

        <!-- Days Buttons -->
        <div class="d-flex flex-row flex-wrap" style="margin-bottom: 20px">
          <button
            class="btn mr-3"
            ng-class="{'btn-primary': selectedDay[itinerary._id] === $index, 'btn-outline-primary': selectedDay[itinerary._id] !== $index }"
            style="border-radius: 20px; padding: 5px 32px; margin-right: 3px;"
            ng-repeat="day in itinerary.days track by $index"
            ng-click="selectDay(itinerary._id, $index)"
          >
            Day {{$index + 1}}
          </button>
        </div>

        <!-- Display Day Details -->
        <div>
          <p style="font-weight: bold; margin-bottom: 3px">Pagi</p>
          <p style="font-size: 13px">
            {{itinerary.days[selectedDay[itinerary._id] || 0].pagi}}
          </p>
          <p style="font-weight: bold; margin-bottom: 3px">Siang</p>
          <p style="font-size: 13px">
            {{itinerary.days[selectedDay[itinerary._id] || 0].siang}}
          </p>
          <p style="font-weight: bold; margin-bottom: 3px">Sore</p>
          <p style="font-size: 13px">
            {{itinerary.days[selectedDay[itinerary._id] || 0].sore}}
          </p>
          <p style="font-weight: bold; margin-bottom: 3px">Malam</p>
          <p style="font-size: 13px">
            {{itinerary.days[selectedDay[itinerary._id] || 0].malam}}
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
