<div ng-controller="LoginController">
  <section
    class="d-flex flex-column justify-content-center align-items-center"
    style="height: 80vh; padding-top: 70px"
  >
    <div
      class="text-center"
      style="
        border: 2px solid black;
        border-radius: 20px;
        padding: 50px 100px 30px;
        background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      "
    >
      <!-- Judul -->
      <h2 class="fw-bold">Login</h2>

      <!-- Form Login -->
      <form ng-submit="login()" class="text-left pt-3 d-flex flex-column">
        <div class="mb-3">
          <label>
            <i class="fa-solid fa-envelope pr-3" style="margin-right: 10px"></i
            >Email
          </label>
          <input
            placeholder="Enter your email here"
            type="email"
            ng-model="credentials.email"
            required
          />
        </div>
        <div class="password-container">
          <label>
            <i class="fa-solid fa-key pr-3" style="margin-right: 10px"></i
            >Password
          </label>
          <input
            placeholder="Enter your password here"
            type="password"
            ng-model="credentials.password"
            required
          />
        </div>

        <button
          class="btn btn-outline-light mt-5 align-self-center"
          style="
            border: 2px solid #068a98;
            background-color: #068a98;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 50px;
          "
          type="submit"
        >
          Login
        </button>
      </form>

      <!-- Pesan Error atau Sukses -->
      <p class="text-danger mt-3" ng-if="message">{{ message }}</p>
    </div>

    <div class="d-flex mt-4 mb-5 justify-content-center align-items-center">
      <h3 class="pr-2 me-2">This your first time?</h3>
      <a ui-sref="register" style="color: black; text-decoration: underline"
        >Register here</a
      >
    </div>
  </section>

  <style>
    .mb-3 input,
    .password-container input {
      text-transform: none; 
      text-capitalize: none;
    }

    .mb-3,
    .password-container {
      display: flex;
      align-items: center;
      /* margin-bottom: 5px; */
    }

    .mb-3 label,
    .password-container label {
      width: 130px;
      padding-right: 10px;
    }

    .mb-3 input,
    .password-container input {
      flex: 1;
      padding: 10px;
      border: none;
      background: transparent;
    }

    /* Media Queries */
    @media (max-width: 768px) {
      .mb-3,
      .password-container {
        flex-direction: column;
        align-items: flex-start;
      }

      .mb-3 label,
      .password-container label {
        width: 100%;
        padding-right: 0;
        margin-bottom: 5px;
      }

      .mb-3 input,
      .password-container input {
        width: 100%;
      }
    }
  </style>
</div>
