.profile-container {
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px 130px 50px;
    width: 100%;
    max-width: 1200px;
}  
.button-profile a:hover {
    text-decoration: underline;
}
.d-flex i {
    margin-right: 10px;
  }
  .button-profile {
    margin-right: 15px;
  }
  .btn {
    margin-top: 10px;
  }

/* Flexbox untuk menata tombol berdampingan */
.d-flex.justify-content-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
  
.btn {
    width: auto;
}


@media (max-width: 992px) {
    .profile-container {
      padding: 30px 50px;
    }

    .d-flex.justify-content-between {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .d-flex {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .d-flex.align-items-lg-baseline {
      align-items: center;
      margin-bottom: 15px;
    }
  
    .btn {
      width: 100%;
      padding: 12px 0;
    }
  }
  
  @media (max-width: 576px) {
    .profile-container {
      padding: 20px 15px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .d-flex.justify-content-between {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  
    .btn {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .d-flex.align-items-lg-baseline {
      text-align: center;
      margin-bottom: 15px;
    }
  
    .fa-lg {
      font-size: 1.2rem;
    }
  }
  