<div ng-controller="HomeController">
  <section>
    <!-- Jumbotron -->
    <div class="jumbotron-container">
      <!-- Video Background -->
      <video autoplay loop muted playsinline class="video-background">
        <source src="../../assets/videos/back.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <!-- Content -->
      <h5 class="logo-text">LUXEVOYAGE</h5>
      <h1 class="main-heading">
        let's embark on your <br />
        dream journey
      </h1>
      <p class="subtext">
        discover inspiring destinations, create unforgettable memories, and
        travel with confidence - adventure starts here
      </p>

      <!-- Search -->
      <div class="search-bar">
        <div class="search-input-container">
          <i class="fa fa-search"></i>
          <input
            type="text"
            id="search-box"
            placeholder="Mulai perjalanan anda..."
            ng-model="searchQuery"
            ng-keyup="updateSuggestions()"
          />
        </div>
        <button
          id="search-button"
          class="btn-search"
          ng-click="goToDestination()"
        >
          Search
        </button>
        <ul class="suggestions" ng-show="suggestions.length > 0">
          <li
            ng-repeat="suggestion in suggestions"
            ng-click="selectSuggestion(suggestion)"
          >
            {{ suggestion }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- destination section -->
  <section class="destinations" id="destinasi">
    <h4 class="label">destinations</h4>
    <div class="container">
      <div class="container-box">
        <h2 class="heading">From City Lights to Natural Sights</h2>
        <div class="content">
          <p>
            Rasakan perpaduan sempurna antara gemerlap kota dan keindahan alam
            yang menenangkan. Mulai dari pesona arsitektur urban yang modern
            hingga panorama alam yang menakjubkan.
          </p>
          <a ui-sref="destination" ng-class="{'active': isActive('destination')}" style="color: inherit; text-decoration: none;">
            explore more <i class="fa fa-arrow-right"></i>
        </a>
        </div>
      </div>
      <div class="gallery">
        <div class="box box1">
          <a href="" ng-click="goToDestination('Raja Ampat')">
            <img
              ng-src="/assets/images/home-images/raja.jpg"
              alt="Raja Ampat"
            />
            <div class="text">
              <h2>Raja Ampat</h2>
            </div>
          </a>
        </div>
        <div class="box box2">
          <a href="" ng-click="goToDestination('Jakarta')">
            <img ng-src="/assets/images/home-images/monas.jpg" alt="Jakarta" />
            <div class="text">
              <h2>Jakarta</h2>
            </div>
          </a>
        </div>
        <div class="box box3">
          <a href="" ng-click="goToDestination('Bali')">
            <img ng-src="/assets/images/home-images/bali.jpg" alt="Bali" />
            <div class="text">
              <h2>Bali</h2>
            </div>
          </a>
        </div>
        <div class="box box4">
          <a href="" ng-click="goToDestination('Bandung')">
            <img
              ng-src="/assets/images/home-images/bandung.png"
              alt="Bandung"
            />
            <div class="text">
              <h2>Bandung</h2>
            </div>
          </a>
        </div>
        <div class="box box5">
          <a href="" ng-click="goToDestination('Yogyakarta')">
            <img
              ng-src="/assets/images/home-images/yogya.jpg"
              alt="Yogyakarta"
            />
            <div class="text">
              <h2>Yogyakarta</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- itinerary featured section -->
  <section class="featured" id="itinerary">
    <h4 class="label">Itinerary</h4>
    <div class="container-box">
        <h2 class="heading">Adventure Awaits: Explore More</h2>
        <div class="content">
            <p>Bersiaplah untuk menjelajahi dan Temukan tempat-tempat menarik, budaya unik, serta pemandangan 
                yang memukau di setiap langkah perjalanan Anda.</p>
                <a ui-sref="itinerary" ng-class="{'active': isActive('itinerary')}" style="color: inherit; text-decoration: none;">
                  explore more <i class="fa fa-arrow-right"></i>
        </div>
    </div>
    <div class="gallery">
        <div class="box box1">
            <a href="" ng-click="goToItinerary('Yogyakarta')">
              <img ng-src="/assets/images/home-images/malioboro.png" alt="">
              <div class="content">
                    <h2>3 hari 2 malam di Yogyakarta</h2>
                    <p>Jelajahi kekayaan sejarah Candi Borobudur dan Prambanan, 
                        rasakan suasana artistik serta kuliner di Malioboro, dan 
                        ciptakan kenangan tak terlupakan di Kota Gudeg ini!</p>
                </div>
            </a>
        </div>
        
        <div class="box box2">
          <a href="" ng-click="goToItinerary('Bandung')">
            <img ng-src="/assets/images/home-images/gedung-sate.jpg" alt="">
                <div class="content">
                    <h2>3 hari 2 malam di Bandung</h2>
                    <p>Jelajahi pesona Bandung dalam tiga hari yang penuh pengalaman 
                        seru! Mulai dari berbelanja di factory outlet yang trendi, menikmati 
                        kuliner khas, hingga mengunjungi destinasi alam seperti Lembang dan Kawah Putih.</p>
                </div>
            </a>
        </div>
        
        <div class="box box3">
          <a href="" ng-click="goToItinerary('Bali')">
            <img ng-src="/assets/images/home-images/balis.jpg" alt="">
                <div class="content">
                    <h2>3 hari 2 malam di Bali</h2>
                    <p>Temukan keindahan Bali selama tiga hari yang penuh dengan petualangan dan 
                        relaksasi! Mulai dari pantai berpasir putih di Uluwatu, pesona sawah 
                        terasering di Ubud, hingga kehidupan malam di Seminyak. Rasakan kehangatan 
                        budaya lokal, kuliner lezat, dan pemandangan alam yang menakjubkan, semuanya 
                        dalam satu perjalanan tak terlupakan di Pulau Dewata.</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- hidden gem section -->
<section class="gem" id="gem">
  <div class="container">
      <h4 class="label">anti-mainstream holiday</h4>
      <h2 class="heading">Explore Anew: <br> Hidden Gem in Indonesia</h2>
      <p class="paragraph">
          magical places you never knew existed
      </p>
  </div>

  <div class="voices">
      <div class="voice box1">
          <div class="detail">
              <h2>
                  <a href="https://maps.app.goo.gl/nVZ1aRP1poYZChtJ7" target="_blank">
                      The island of romance - Pulo Cinta Eco Resort
                  </a>
              </h2>
          </div>
      </div>
      <div class="voice box2">
          <div class="detail">
              <h2>
                  <a href="https://maps.app.goo.gl/6jbQBXU52BfFTh9j6" target="_blank">
                      His Majesty, the Ricefields of Argapura – Majalengka
                  </a>
              </h2>
          </div>
      </div>
      <div class="voice box3">
          <div class="detail">
              <h2>
                  <a href="https://www.ghotel.co.id/menelusuri-eksotisme-pantai-karang-gigi-hiu-tanggamus-lampung/" target="_blank">
                      Calling for shark tooth fairies – Pantai Pegadungan
                  </a>
              </h2>
          </div>
      </div>
      <div class="voice box4">
          <div class="detail">
              <h2>
                  <a href="https://maps.app.goo.gl/dxUBKdtkVRWdwZ8F6" target="_blank">
                      Small islands are boring? Nein! – Pulau Mangiatan
                  </a>
              </h2>
          </div>
      </div>
      <div class="voice box5">
          <div class="detail">
              <h2>
                  <a href="https://maps.app.goo.gl/y2HPY5hmbqWs9u4L8" target="_blank">
                      Mirror, mirror in the lake – Danau Labuan Cermin
                  </a>
              </h2>
          </div>
      </div>
      <div class="voice box6">
          <div class="detail">
              <h2>
                  <a href="https://maps.app.goo.gl/oZA2coBxStomMb9o9" target="_blank">
                      Admire nature’s watercolor palette – Kelimutu, Flores
                  </a>
              </h2>
          </div>
      </div>
  </div>
</section>

<!-- article section -->
<section class="article" id="article">
  <h4 class="label">article</h4>
  <h2 class="heading">latest article</h2>
  <div class="container">
      <div class="latest-article">
        <img ng-src="/assets/images/home-images/mandalika.jpg" alt="Yogyakarta">
        <p>Ide Liburan</p>
          <h3>
              <a href="https://www.traveloka.com/id-id/explore/destination/destinasi-wisata-super-prioritas-indonesia-trp/78534" target="_blank">
                  5 Destinasi Wisata Super Prioritas Indonesia, Kenal Lebih Dalam Yuk!
              </a>
          </h3>
      </div>
      <div class="more-article">
          <div class="box box1">
              <div class="image">
                <img ng-src="/assets/images/home-images/anak.jpg" alt="Yogyakarta">
              </div>
              <div class="text">
                  <h3>
                      <a href="https://makuku.co.id/id/artikel/gaya-hidup/8-tips-traveling-bersama-si-kecil-anti-repot/" target="_blank">
                          8 Tips Traveling Bersama Si Kecil Anti Repot
                      </a>
                  </h3>
                  <li>family travel</li>
              </div>
          </div>
          <div class="box box2">
              <div class="image">
                <img ng-src="/assets/images/home-images/kuliner.jpg" alt="Yogyakarta">
              </div>
              <div class="text">
                  <h3>
                      <a href="https://www.indonesia.travel/id/id/ide-liburan/hobi-wisata-kuliner-10-makanan-khas-indonesia-ini-wajib-kamu-coba.html" target="_blank">
                          Hobi Wisata Kuliner? 10 Makanan Khas Indonesia Ini Wajib Kamu Coba!
                      </a>
                  </h3>
                  <li>food and travel</li>
              </div>
          </div>
          <div class="box box3">
              <div class="image">
                <img ng-src="/assets/images/home-images/budget.jpg" alt="Yogyakarta">
              </div>
              <div class="text">
                  <h3>
                      <a href="https://blog.cove.id/budget-traveling/" target="_blank">
                          8 Tips Menentukan Budget Traveling, Liburan Anti Boncos!
                      </a>
                  </h3>
                  <li>budget travel</li>
              </div>
          </div>
          <div class="box box4">
              <div class="image">
                <img ng-src="/assets/images/home-images/healing.jpg" alt="Yogyakarta">
              </div>
              <div class="text">
                  <h3>
                      <a href="https://tirto.id/alasan-mengapa-traveling-bisa-jadi-alat-untuk-healing-gzll" target="_blank">
                          Alasan Mengapa Traveling Bisa Jadi Alat untuk Healing
                      </a>
                  </h3>
                  <li>travel benefit</li>
              </div>
          </div>
      </div>
  </div>
</section>
</div>
