<section
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 80vh; padding-top: 70px;"
  ng-controller="ChangePasswordController"
>
  <div
    class="text-center"
    style="
      border: 2px solid black;
      border-radius: 20px;
      padding: 50px 130px 30px;
    "
  >
    <h2 class="mb-5">Change Password</h2>

    <!-- Pesan error atau sukses -->
    <div class="alert alert-danger" ng-if="errorMessage" role="alert">
      {{ errorMessage }}
    </div>
    <div class="alert alert-success" ng-if="successMessage" role="alert">
      {{ successMessage }}
    </div>

    <!-- Form change password -->
    <form ng-submit="changePassword()">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          ng-model="passwordData.newPassword"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          ng-model="passwordData.confirmPassword"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</section>
